.label-inline{
    display: block;
}

.checkbox div:first-child{
    float:left;
}

.checkbox div:last-child{
    float:right;
}

.center-text{
      text-align: center; 
}
/*------------*/
body {
    min-width: 320px;
}
a:hover {
    text-decoration: none;
}
header {
    padding: 20px 0;
}
.logo a {
    color: #000;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}

.logo-img {
    height: 50px;
    float: left;
    margin-right: 10px;
}
.gray666 {
    color: #666;
}
.top-user-info {
    padding: 15px 0;
    border: 1px dashed #666;
}
.top-user-info h2 {
    margin-top: 0;
}
.thumbnail {
    display: inline-block;
}
@media (min-width: 450px) {
    .image-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        column-rule-style: solid;
    }
}
@media (min-width: 992px) {
    .image-list {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        column-rule-style: solid;
    }
}