.glyphicon{
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    -webkit-transition: opacity 300ms ease-in-out 300ms;
}

.thumbnail:hover .glyphicon {
    display: block;
    opacity: 1;

}

.img-circle{
    opacity: 1;
     -webkit-transition: opacity 300ms ease-in-out 300ms;
}

.img-circle:hover{
    opacity: 0.5;
}

div#textChange {
    display: none;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}

.openmodal{
cursor: pointer;
}

img.img-responsive.img-circle {
    cursor: pointer;
}

#chooseAvatar{
    opacity: 0;
}

body {
    min-width: 320px;
}
a:hover {
    text-decoration: none;
}
header {
    padding: 20px 0;
}
.logo a {
    color: #000;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}

.logo-img {
    height: 50px;
    float: left;
    margin-right: 10px;
}
.gray666 {
    color: #666;
}
.top-user-info {
    padding: 15px 0;
    border: 1px dashed #666;
}
.top-user-info h2 {
    margin-top: 0;
}
.thumbnail {
    display: inline-block;
    position: relative;
}
@media (min-width: 450px) {
    .image-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        column-rule-style: solid;
    }
}
@media (min-width: 992px) {
    .image-list {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        column-rule-style: solid;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#error {
    display: none;
}
/*.thumbnail .fancybox{
}
*/
.glyphicon-remove {
    padding: 10px;
    color: red;
    cursor: pointer;
    float: right;
}

.fancybox-opened .fancybox-skin {
    box-shadow: none;
    background: transparent;
}