<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>PhotoBox - user page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" >
    <link rel="stylesheet" type="text/css" href="bower_components/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script src="photo-box.module.js"></script>
    <script src="users.controller.js"></script>
    <script src="imageList.controller.js"></script>
</head>
<body ng-app="photo-box">

    <div class="container-fluid">
        <header class="row">
            <div class="col-xs-11">
                <h1 class="logo"><a href="userpage.html">
                    <img src="image/logo.png" alt="" class="logo-img img-responsive" >
                    Photo Box
                </a></h1>
                <h4 class="gray666"><i>A new way to be creative</i></h4>
            </div>
            <div class="col-xs-1">
                <a href="/logout">Log out</a>
            </div>
        </header>
        <div class="content-wrapper">
            <div class="row top-user-info">
                <div class="col-xs-2 avatar">
                    <form name = "avatar" action="/changeAvatar" method="post" enctype="multipart/form-data" >
                        <input type="file" name="avatar" id="chooseAvatar" onchange='this.form.submit();' required="" />
                    </form> 
                    <div id = "textChange"><h1>Change</h1></div>
                </div>
                <div class="col-xs-10 col-sm-7">
                    <h2 class="gray666 username"><strong></strong></h2>
                    <p class="status"></p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <button type="button" class="btn btn-block btn-lg btn-success btn-login" data-toggle="modal" data-target="#modal">Add photo</button>
                </div>
            </div>
            <div class="row" ng-controller="imageListController">
                <div class="col-xs-10 image-list center-block" >
                    <list-images></list-images>
               </div>
                <div class="col-xs-2" ng-controller="UserListController">
                    <ul class="list-group users-list" >

                        <li class="list-group-item" ng-repeat="(key, user) in users">
                            <a ng-href={{'?user='+key}}>
                                {{user.name}}
                                <span class="green-circle" ng-if="user.online"></span>   <!-- ng-show, ng-hide -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="row">
                <div class="col-xs-3">
                 2016 Copyright by ...
                </div>
            </div>
        </footer>
    </div>   <!-- container-fluid -->
    <form name="uploader" action="/fileupload" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header center-text">
                        <h2>Uploaded new photo</h2>
                        <input type="file" name="file" id="file" required="">
                    </div>
                    <div class="modal-body">
                        <div class = "form-group center-text" >
                            <label for="namephoto" ><h3>Describe your photo</h3></label>
                            <textarea class="form-control" rows="3" name="fotoDescribe" ></textarea>
                        </div>
                        <select class="form-control" name = "categoryName">
                            <option disabled>Choose your category</option>
                            <option >category1</option>
                            <option >category2</option>
                            <option >category3</option>
                            <option >category4</option>
                            <option >category5</option>
                        </select>
                        <div class="checkbox">
                            <label class="checkbox">
                                <input type="checkbox" id="privateFoto" name="privateFoto" > Create this photo private
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >Send your photo</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="userPageLoad.js"></script>
    <script type="text/javascript" src="bower_components/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="bower_components/fancybox/source/jquery.fancybox.pack.js"></script> 
</body>
</html>
