<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/users-chat-page-style.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="js/photo-box-chat.module.js"></script>
    <script src="js/users-chat-page.controller.js"></script>
    <script src="js/dialog-list.controller.js"></script>
    <script src="js/message-list.controller.js"></script>

</head>
<body ng-app="photo-box-chat" ng-controller="usersChatPageController">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a class="navbar-brand" href="/userpage.html">PhotoBox</a>
                </div>
                <div class="col-xs-7">
                    <h2>{{user.name}}</h2>
                </div>
                <div class="col-xs-2">
                    <a class="glyphicon glyphicon-off navbar-brand" href="/userpage.html"></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <form class="form-signin" ng-submit="submitUser()" >
                    <div class="form-group">
                        <select class="form-control" ng-model="userChat" id="Users">
                            <option value="" disabled selected>Write to...</option>
                            <option value="{{key}}" ng-repeat="(key, user) in users">{{user.name}}</option>
                        </select>
                        <button class="btn btn-primary btnSentUser" type="submit">Create Dialog</button>
                    </div>
                </form>

                <p class="lead">Dialogs</p>
                <div ui-view="dialog-list">
                </div>
            </div>

            <div class="col-md-9" ui-view="message-list" ng-animate="'view'">
            </div>

        </div>

    </div>
</body>
</html>